/* headerr */
/* header */
html {
    scroll-behavior: smooth;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

.topbar {
    background-color: #F4DDEE;
    padding: 10px 12%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 14px;

    /* position: fixed; */
}

.topbar a:hover {
    text-decoration: underline;
    transition: 0.9;
}

.log_sign li {
    list-style: none;
    display: inline-block;
    margin: 0px 5px;
}

.log_sign a {
    text-decoration: none;
    margin: 0x 10px;
    color: black;
}

.nav {
    display: inline-block;
}


.logo_search {
    padding: 15px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 150px;
    height: 60px;
}

.search input {
    height: 45px;
    width: 250px;

    margin-right: 0px;
    border: 1px solid rgb(209, 199, 199);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    ;
}

.search_btn {
    margin-left: 0px;
    height: 45px;
    width: 35px;
    background-color: #FFFFFF;
    border: 1px solid rgb(209, 199, 199);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    ;
}

.search_wish_cart li {
    display: inline-block;
    margin: 5px 20px;
}

#Top_search {
    background-color: rgb(250, 249, 243);
    position: fixed;
    width: 300px;
    box-shadow: rgba(red, 250, 100, 0.6);
    border-radius: 5px;
    padding: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
    display: none;

}

#Top_search a {
    background-color: rosybrown;
    margin: 5px;

}

#cart {
    text-align: center;
    width: 25%;
    position: fixed;
    line-height: 50px;
    border-radius: 10px;
    background-color: white;
    border-radius: 10px;
    display: none;
}

#cart button {
    background-color: #FF66B9;
    padding: 5px 20px;
    color: white;
    width: 90%;
    border-radius: 8px;
}




.makeup {
    display: flex;
    padding: 10px;
    background-color: white;
    position: absolute;
    padding-left: 10%;
    width: 100%;
    font-size: 12px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    ;
    display: none;
}

.makeup div {
    margin: 10px;
    color: black;
    line-height: 30px;

}

.makeup div a {
    text-decoration: none;
}

.color-pink {
    color: #FF66B9;
    font-weight: bold;
    font-size: 14px;
}

#kits_combos {
    width: 11.5%;
    margin-left: 32.5%;
    background-color: white;
    line-height: 25px;
    display: block;
    font-size: 15px;
    padding: 10px;
    position: absolute;
    display: none;
}

#kits_combos p a {
    text-decoration: none;
}

#middle {
    max-width: 1200px;
    margin: auto;
}




.navlist {
    background-color: #383E47;
    color: white;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10%;
    width: 100%;
}

.navlist a:hover {
    text-decoration: underline;

}

.navlist a {
    margin: 10px;
    color: white;

}

/* header-end */

#b1 {
    width: 70%;
    margin: auto;
    height: 300px;

}

#b3 {
    text-align: center;
}

#b3>h1 {
    margin: 1% 0;
    font-size: x-large;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.label-1 {
    font-family: 'Poppins', sans-serif;
    font-size: large;
}

.input-id {
    width: 14%;
    height: 35px;
}

.track-btn {
    width: 14%;
    height: 40px;
    background: pink;
}

.track-2 {
    font-family: 'Montserrat', sans-serif;
    font-size: large;
}

div>div>div {
    font-family: arial;
}

.track-btn:hover {
    color: white;
}


/* bottom-part */
#d1 {
    /* height: 200px; */
    background-color: #ecf0f1;
}

#d2 {
    /* height: 400px; */
    background-color: #2d3436;
    color: white;
}

/* .d2 {
                height: 300px;
    
            } */
.h2 {
    text-align: center;
    margin: 20px;
    padding-top: 20px;

}

.d3 {
    /* border: 1px solid black; */
    /* height: 250px; */
    width: 70%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}

.d4 {
    display: inline-block;
    width: 20%;
    /* height: 250px; */
    /* border: 1px solid black; */
    vertical-align: text-top;
    line-height: 30px;
}

#subscribe {
    width: 38%;
}

.inp1 {
    height: 40px;
    width: 60%;
    border-radius: 3px;
}

.inp2 {
    height: 40px;
    width: 30%;
    background-color: pink;
    border-radius: 3px;

}

.img100 {
    height: 30px;
    width: 30px;
    border-radius: 15px;
}

#last {
    margin-left: 15%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

#l {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, rgba(0, 0, 0, 0.15) 100%), radial-gradient(at top center, rgba(255, 255, 255, 0.40) 0%, rgba(0, 0, 0, 0.40) 120%) #989898;
    background-blend-mode: multiply, multiply;
}

span a {
    text-decoration: none;
    color: white
}

span a:hover {
    text-decoration: underline;
    color: #FF66B9;
}


/* bottom-end */


/* login */
#loginn {
    margin-left: 70%;
    background-color: white;
    position: absolute;
    width: 20%;
    padding: 15px 20px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    ;
    display: none;
}

#myform {
    text-align: center;
    background-color: white;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    font-size: 16px;
}

#myform:hover {
    background-color: rgb(80, 65, 65);
    color: rgb(252, 29, 29);
}

#account {
    background-color: rgb(80, 65, 65);
    color: rgb(252, 29, 29);
    width: 100%;
    padding: 10px;
    border-radius: 4px;
}

/* login */
.font10 {
    font-size: 10px;
}

.font15 {
    font-size: 15px;
}

#CUSTOMER {
    text-decoration: underline;
    font-weight: bold;
    display: inline-block
}

.cutty {
    background-color: white;
    font-weight: bold;
    border-color: white;
    margin-left: 30%;
}

.marg-top {
    margin-top: 20px;
}

.my_mail {
    font-weight: bold;
    font-size: 12px;
}

.colorRR {
    color: red;
}

.passs {
    width: 100%;
    padding: 10px;
    border-radius: 3px;
}

#crated {
    background-color: #F7F7F7;
    width: 100%
}

#my_wish {
    font-size: 35px;
    margin: 0px;
    padding: 0px
}

#hotty {
    background-color: rgb(235, 101, 124);
    border-radius: 5px;
    padding: 3px;
    font-size: 8px;
}

#fa_ce {
    font-size: 24px;
    color: white;
    margin: 5px 10px
}

#honey-singh {
    color: black;
}

#marg-222 {
    margin: 2% 0;
}

#hrhr {
    width: 70%;
    margin: auto;
}